body {
  font-family: 'Josefin Sans';
  /* background-color: #030202; */
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;

}

::-webkit-scrollbar {
  width: 0px;
}
#loader{
  width: 100vw;
  height: 100vh; 
  position: fixed;
  top: 0;
  z-index: 99999;
  background: #000;
  transition: height  10s ease-in-out;
}
.loader--animation{
  animation: loader 4s ease-in  1  ;
}
.search--bg{
  background: url("./assets/images/img2.jpg")  no-repeat center center ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bmi--bg{
  background: url("./assets/images/img3.jpg")  no-repeat center center ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.herobg{
  background: url("./assets/images/hero-2.jpg")  no-repeat center center ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.button--gradient{
  background: #d1810f;

}

.button--gradient:hover{
  background-image: linear-gradient(to left top, #ff9800, #d1810f, #a66a16, #7e5419, #583e1a);

}






.exercise-card {
  width: 400px;
  height: auto;
}

.exercise-card img {
  height: 326px;
}

.bodyPart-card {
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}


.search-btn:hover {
  color: #FF2625 !important;
  border: 1px solid #FF2625 !important;
}

.exercise-video {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 387px;
  height: 381px;
  text-decoration: none;
}

@media screen and (max-width:1200px) {
  .detail-image {
    width: 300px;
    height: 300px;
  }


  .react-horizontal-scrolling-menu--scroll-container {
    width: 500px;
  }

  .left-arrow,
  .right-arrow {
    position: static !important;
  }

  .hero-banner-img {
    display: none;
  }

  .exercise-card {
    width: 320px;
  }

  .exercise-video {
    width: 320px;
    height: 300px;
  }

}

@media screen and (max-width:400px) {
  .exercise-card {
    width: 280px;
  }
}

@keyframes loader {
  from{
  height: 100vh;
  }
  to{
    height: 0vh;
  }
  
}